// jawne okreslenie

.grid2{
  width: 800px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr auto  30%;
  grid-template-rows: 1fr 100px;
  justify-content: left;
  height: 200px;
  margin-top: 20px;
  padding: 20px;
  
  border: solid 1px rgb(142, 142, 142);
  text-align: center;
  background-color: rgb(220, 220, 220);
}
.a{
  background-color: #a5a542;
  
}
.b{
  background-color: #969456;
}
.c{
  background-color: #868466;
}
.d{
  background-color: #747474;
}
.e{
  background-color: var(--clr-primary-5);
}
// .f{
//   background-color: var(--clr-green-light);
// }