.grid{
  display: grid;
  grid-template-columns: 20% 1fr 20% 1fr;
  grid-template-rows: 100px 60px 40px;
  
}

.e1{
  grid-row: 4;
  grid-column: 1/-1;
  text-align: center;
  background-color: aquamarine;
}
.e2{
  grid-row: 1;
  grid-column: 1/-1;
  text-align: center;
  background-color: rgb(163, 163, 209);
}
.e3{
  grid-row: 3;
  grid-column: 1/-1;
  text-align: center;
  background-color: burlywood;
}
.e4{
  text-align: center;
  background-color: darkcyan;
}
.e5{
  text-align: center;
  background-color: bisque;
}
.e6{
  text-align: center;
  background-color: rgb(197, 145, 81);
}
.e7{
  text-align: center;
  background-color: rgb(99, 82, 61);
}
.e8{
  text-align: center;
  background-color: rgb(61, 99, 86);
}
.e9{
  text-align: center;
  background-color: rgb(87, 179, 34);
}
.e10{
  text-align: center;
  background-color: rgb(176, 232, 227);
}